/*
 custom styling
*/
html {
	height: 100%;
}

body {
	height: 100%;
	padding-top: 60px;
	background-color: lightyellow;
}

footer {
	background-color: blue;
	margin:0;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.content {
	padding-bottom: 40px;
}

.footer {
	
	position:absolute;
	bottom:15px;
	height:40px;
	background-color:#343a40;
	color:white;
	width:100%;
	text-align:center;
	padding-top:5px;
	
}